
{% load static %}
{% include "includes/header_admin.html" %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
					
					<!-- Page Header -->
					
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Profile</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Profile</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					{% for d in d %}
					<div class="row">
						<div class="col-md-12">
							<div class="profile-header">
								<div class="row align-items-center">
									<div class="col-auto profile-image">
										<a href="#">
											<img class="rounded-circle" alt="User Image" src="{{d.profile.url}}">
										</a>
									</div>
									<div class="col ml-md-n2 profile-user-info">
										<h4 class="user-name mb-0">{{d.user.last_name}}</h4>
										<h6 class="text-muted">{{d.user.username}}</h6>
										<div class="user-Location"><i class="fa fa-map-marker"></i> {{d.address}}</div>
										<div class="about-text"></div>
									</div>
									<!-- <div class="col-auto profile-btn">
										
										<a href="#" class="btn btn-primary">
											Edit
										</a>
									</div> -->
								</div>
							</div>
							<div class="profile-menu">
								<ul class="nav nav-tabs nav-tabs-solid">
									<li class="nav-item">
										<a class="nav-link" href="/editdoctor/{{d.user.id}}">About</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active"  href="/changedoctorpassword/{{d.user.id}}">Password</a>
									</li>
								</ul>
							</div>	
							
											
										</div>

									
									</div>
									<!-- /Personal Details -->

								</div>
								<!-- /Personal Details Tab -->
								<div class="tab-content profile-tab-cont">
								<!-- Change Password Tab -->
								<div>
								
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Change Password</h5>
											<div class="row">
												<div class="col-md-10 col-lg-6">
													<form action="/changedoctorpassword/{{d.user.id}}" method="post">
														{% csrf_token %}
														<!-- <div class="form-group">
															<label>Old Password</label>
															<input type="password" name="old" class="form-control">
														</div> -->
														<div class="form-group">
															<label>New Password</label>
															<input type="password" name="password1" class="form-control">
														</div>
														<div class="form-group">
															<label>Confirm Password</label>
															<input type="password" name="password2" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
														</div>
														<button class="btn btn-primary" type="submit">Save Changes</button>
														<br>
														{% if messages %}
														{% for message in messages %}
														{{message}}
														{% endfor %}
														{% endif %}
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Change Password Tab -->
								
							</div>
							{% endfor %}
						</div>
					</div>
				
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		{% include "includes/js.html" %}
		
			