
{% load static %}
{% include "includes/header_admin.html" %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">List of User</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
									<li class="breadcrumb-item active">Doctor</li>
								</ul>
								<a href="#add_doctor" class="btn btn-primary"  data-toggle="modal">
									<i class="fe fe-plus"></i>New</a>
							</div>
						</div>
						
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Role</th>
													<th>Member Since</th>
													<th>Last Visit</th>
													<th>Role Base Permissions</th>
													<th>Action</th>
													
												</tr>
											</thead>
											<tbody>
												{% for d in u %}
												<tr>
													<td>
														<h2 class="table-avatar">
															{{d.first_name}}
														</h2>
													</td>
													<td>{{d.last_name}}</td>
													<td>{% for i in d.groups.all %}{{i}} {% endfor %}</td>
													<!-- <td>{% for i in d.speciality.all %}{{i}} {% endfor %}</td> -->
													<td>
														<!-- <i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star-o text-secondary"></i> -->
														{{d.date_joined|date:"D,d/m/Y"}}
													</td>
											
											<td>{{d.last_login|date:"D,d/m/Y"}}</td>
											<td>
												<select name="">
													{% for i in d.groups.all %}
													{% for j in i.permissions.all %}
													<option value="">{{j.name}}<br></option>
													{% endfor %}
													{% endfor %}
											</select>

											</td>
													<td>
														<a class="btn btn-sm bg-primary-light" href="#add_doctor" class="btn btn-primary"  data-toggle="modal">
															<i class="fe fe-plus"></i> Add Role
															</a>
															<a class="btn btn-sm bg-success-light"  href="/editdoctor/{{d.id}}">
																<i class="fe fe-pencil"></i> Add Permission
															</a>
															<a href="/removedoctor/{{d.user.id}}" class="btn btn-sm bg-danger-light">
																<i class="fe fe-user-minus"></i> Remove
															</a>
															<a href="/deletedoctor/{{d.user.id}}" class="btn btn-sm bg-danger-light">
																<i class="fe fe-trash"></i> Delete
															</a>
															<!-- {% if d.user.is_active == True %}
															<a class="btn btn-sm bg-danger"  href="/blockdoctor/{{d.user.id}}">
																<i class="fe fe-lock"></i> Block
																{% elif d.user.is_active == False %}
																<a class="btn btn-sm bg-danger"  href="/blockdoctor/{{d.user.id}}">
																	<i class="fe fe-unlock"></i> UnBlock
															{% endif %} -->
													</td>     
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
      
		<!-- /Main Wrapper -->
		
		<div class="modal fade" id="add_doctor" aria-hidden="true" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document" >
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Doctor</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{% for i in u %}
						<form action="/grantRole/{{i.id}}" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
						{% endfor %}	
							<div class="row form-row">
								<div class="col-12 col-sm-12">
									<div class="form-group">
										<label>Roles</label>
										<br>
										
										{% for g in g %}
										<input type="checkbox" name="{{g.name}}" value="{{g.id}}"> {{g.name}} 
										
										{% endfor %}
									</div>
								</div>
								<!-- <div class="col-12 col-sm-">
									<div class="form-group">
										<label>Middle Name</label>
										{% for p in p %}
										{%if i not in p %}
										<input type="checkbox" name="{{g.name}}" value="{{g.id}}"> {{g.name}} 
										<br>
										{% endif %}
										{% endfor %}
									</div>
								</div>
								<div class="col-12 col-sm-4">
									<div class="form-group">
										<label>Last Name</label>
										<input type="text" name="lname" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Email</label>
										<input type="email" name="username" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Phone Number</label>
										<input type="text" name="phone" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Address</label>
										<input type="text" name="address" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Photo</label>
										<br>
										{% for g in g%}
										<input type="checkbox" name="{{s.name}}" value="{{g.id}}">{{g.name}}
										<br>
										{% endfor %}
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Speciality</label>
										<br>
										{% for s in s %}
										<input type="checkbox" name="{{s.name}}" value="{{s.id}}">{{s.name}}
										<br>
										{% endfor %}
									</div>
								</div>
							</div>
						 -->
							<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="view_doctor" aria-hidden="true" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document" >
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Doctor</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						
						<form>
							
							<div class="row form-row">
								<div class="col-12 col-sm-4">
									<div class="form-group">
										<label>First Name</label>
										<input type="text" name="fname" class="form-control" value="">
									</div>
								</div>
								<div class="col-12 col-sm-4">
									<div class="form-group">
										<label>Middle Name</label>
										<input type="text" name="mname"  class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-4">
									<div class="form-group">
										<label>Last Name</label>
										<input type="text" name="lname" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Email</label>
										<input type="email" name="username" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Phone Number</label>
										<input type="text" name="phone" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Address</label>
										<input type="text" name="address" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Photo</label>
										<input type="file" name="profile" class="form-control">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Speciality</label>
										<br>
										{% for s in s %}
										<input type="checkbox" name="{{s.name}}" value={{s.id}}> {{s.name}}
										<br>
										{% endfor %}
									</div>
								</div>
							</div>
						
							<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% include "includes/js.html" %}

		