{% if user.is_authenticated %}
{% load static %}
{% include "includes/header_patient.html" %}
							
				<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-6">
										
											<!-- Change Password Form -->
											<form method="post" action="/patientchangepassword">
												{% csrf_token %}
												<div class="form-group">
													<label>Old Password</label>
													<input type="password" name="old" class="form-control" required>
												</div>
												<div class="form-group">
													<label>New Password</label>
													<input type="password" name="new" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
												</div>
												<div class="form-group">
													<label>Confirm Password</label>
													<input type="password" name ="comfirm" class="form-control" required>
												</div>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
												</div>
										{% if messages %}
										{% for message in messages %}
										{{message}}
										{% endfor %}
										{% endif %}
											</form>
											<!-- /Change Password Form -->
											
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			
			<!-- /Footer -->

		<!-- /Main Wrapper -->
	  
		{% include 'includes/js_doctor.html' %}

		{% else %}
			<h1>YOu are not the authorized user</h1>

			{% endif %}