{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DAS</title>
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/logo1.png'%}">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css'%}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css'%}">
	
	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/feathericon.min.css'%}">
	
	<link rel="stylesheet" href="{% static 'admin/plugins/morris/morris.css'%}">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/style.css'%}">
	<link type="image/x-icon" href="{% static 'assets/img/favicon.png'%}" rel="icon">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
	
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<!-- Main Wrapper -->
	
	
<!-- Header -->
<header class="header">
	<nav class="navbar navbar-expand-lg header-nav">
		<div class="navbar-header">
			<a id="mobile_btn" href="javascript:void(0);">
				<span class="bar-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>
			<a href="/" class="navbar-brand logo">
				<img src="{% static 'assets/img/logo1.png'%}" class="img-fluid" alt="Logo">
			</a>
		</div>
		<div class="main-menu-wrapper">
			<div class="menu-header">
				<a href="/" class="menu-logo">
					<img src="{% static 'assets/img/logo1.png'%}" class="img-fluid" alt="Logo">
				</a>
				<a id="menu_close" class="menu-close" href="javascript:void(0);">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<ul class="main-nav">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li class="has-submenu">
					<a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
					<ul class="submenu">
						<li><a href="/doctordashboard">Doctor Dashboard</a></li>
						<li><a href="/doctorappointment">Appointments</a></li>
						<li><a href="/doctorschedule">Schedule Timing</a></li>
						<li><a href="/mypatient">Patients List</a></li>
						
						
					</ul>
				</li>	
				<li class="has-submenu">
					<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
					<ul class="submenu">
						<li><a href="/mydoctor">Search Doctor</a></li>
						
						<li><a href="/booking">Booking</a></li>
						
						
						<li><a href="/patiendashboard">Patient Dashboard</a></li>
						
					</ul>
				</li>	
		
				<li>
					<a href="/dashboard" target="_blank">Admin</a>
				</li>
				<li class="login-link">
					<a href="/login">Login / Signup</a>
				</li>
			</ul>		 
		</div>		 
		<ul class="nav header-navbar-rht">
			<li class="nav-item contact-item">
				<div class="header-contact-img">
					<i class="far fa-hospital"></i>							
				</div>
				<div class="header-contact-detail">
					<p class="contact-header">Contact</p>
					<p class="contact-info-header"> +255 625 253 363</p>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link header-login" href="/login">login / Signup </a>
			</li>
		</ul>
	</nav>
</header>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<img class="img-fluid" src="{% static 'assets/img/logo1.png'%}" alt="Logo">
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>Login</h1>
							
								
								<!-- Form -->
								<form action="/login" method="POST">
								 {% csrf_token %}
									<div class="form-group">
										<input class="form-control" name="username" type="text" placeholder="Email" required>
									</div>
									<div class="form-group">
										<input class="form-control" name="password" type="password" placeholder="Password" required>
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">Login</button>
									</div>
								</form>
								<!-- /Form -->
								
								<div class="text-center forgotpass"><a href="/resetpassword">Forgot Password?</a></div>
								<div class="login-or">
									<span class="or-line"></span>
									<span class="span-or">or</span>
								</div>
								  
								<!-- Social Login -->
								<div class="social-login">
									<span>Login with</span>
									<a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google"></i></a>
								</div>
								<!-- /Social Login -->
								
								<div class="text-center dont-have">Don’t have an account? <a href="/register">Register</a></div>
								<div class="text-center dont-have"><a href="/">Home</a></div>

								{% if messages %}
								{% for message in messages %}
								{{message}}
								{% endfor %}
								{% endif %}
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
    </body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:46 GMT -->
</html>