
{% load static %}
<!-- Footer -->
<footer class="footer">
				
  
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">
        
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0"><a href="rsiphael@gmail.com">Raphael</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                    
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="term-condition.html">Terms and Conditions</a></li>
                                <li><a href="privacy-policy.html">Policy</a></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->
                        
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
            
        </div>
    </div>
    <!-- /Footer Bottom -->
    
</footer>
<!-- /Footer -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="{% static 'assets/js/jquery.min.js'%}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>

<!-- Slick JS -->
<script src="{% static 'assets/js/slick.js'%}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/script.js'%}"></script>

</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->
</html>