
	{% load static %}
			<!-- jQuery -->
			<script src="{% static 'assets/js/jquery.min.js'%}"></script>
		
			<!-- Bootstrap Core JS -->
			<script src="{% static 'assets/js/popper.min.js'%}"></script>
			<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
			
			<!-- Sticky Sidebar JS -->
			<script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js'%}"></script>
			<script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js'%}"></script>
			
			<!-- Circle Progress JS -->
			<script src="{% static 'assets/js/circle-progress.min.js'%}"></script>
			
			<!-- Custom JS -->
			<script src="{% static 'assets/js/script.js'%}"></script>
			
		</body>
	
	<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
	</html>